#nav-icon-user{
    height: 100px;
}

#barra_navegacion{
    background-color: green !important;
    color: white !important;
}

a{
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}
.navbar.navbar-absolute {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

