.card-body{
    padding: 0px 40px;
}

.card-header{
    padding: 0px !important;
}

.card{
    font-size: 12px !important;
    min-width: 800px;
    margin-top: 5px;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 8px;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;    
}

.table > thead > tr > th{
    font-weight: bold;
    text-align: center;
}
.caja {
    margin:10px 0 0 0;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 170px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    font-size: 12px;
    height: 30px;
    padding: 0px;
    width: 170px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:3px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
}

.main-content{
    margin-top: 60px;
    padding: 10px 15px;
    
}

.mt-5, .my-5{
    margin-top: 0px !important;
}

#etiqueta{
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin-top: 12px;
}

h2{
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

