.form-control.login-user {
    border: 0 solid #fff !important;
}

button:hover{
  background: #4eb13fd8 !important;
}

h1{
  margin: 9px auto !important;
}

p{
  color: red;
  margin: 5px auto 0px auto !important;
}

.container{
  padding-top: 10%;
  background: "/assets/img/logo_empresa.jpg";
}

