.mat-dialog-content{
    font-size: 12px !important;
}

.mat-dialog-tittle{
    font-weight: bold;
}

#button-success{
    margin: auto 10px auto auto !important;
    background-color: #2cd412d8 !important;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
#button-success:hover{
    background-color: #aaf39fd8 !important;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#button-cancel{
    margin: auto 10px auto 10px !important;
    background-color: #df2525 !important;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

#button-cancel:hover{
   background-color: #f08484d8 !important;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0,0,0,0) !;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
