<div mat-dialog-title>
    <div class="row">    
    Filtrar:
    <div class="col-6" id="buscador">          
        <input 
          type="text" class="form-control" name = "filterClient" id="filtro"
          placeholder="Nombres o Apellidos ..." [(ngModel)]="filterClient" autofocus>
      </div>
      <button mat-button id="button-close"  [mat-dialog-close]="true" autofocus=false><i class="material-icons">cancel_presentation</i></button>
    </div>
    
</div>
<div mat-dialog-content> 
    <form #formRegister="ngForm">
      <div class="row mt-5">
        <div class="col">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>                
                <th id="minima_table" scope="col"> </th>
                <th scope="col">C.I</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of dataSource | filter:filterClient | paginate: {itemsPerPage: 10, currentPage: pageActual}; index as i">
                <td scope="row">
                <button mat-button class="button-success" (click)="onDblClickCell(usuario)" ><i class="material-icons">check_circle_outline</i></button>
                </td>
                <td scope="row">{{usuario.id_cliente}}</td>
                <td scope="row">{{usuario.nombre_cliente}}</td>
                <td scope="row">{{usuario.apellido_cliente}}</td>
                <td scope="row">{{usuario.n_telefono}}</td>
                <td scope="row">{{usuario.direccion}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageActual = $event" ></pagination-controls>
        </div>
      </div>
    </form>
</div>
